<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            @font-face {
                font-family: myFirstFont;
                src: url(https://fonts.gstatic.com/s/jetbrainsmono/v13/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8L6tTOlOV.woff2) format('woff2');

            }
              
            h2 {
                font-family: myFirstFont;
                color: darkgreen;
            }
        </style>
    
    </head>
    <body>
        <h2>My First Heading</h2>
        <img src="https://ahseeit.com/spanish/king-include/uploads/2021/03/81324695_2501396073431633_4703291999670002950_n-8084680497.jpg" alt="Italian Trulli">
    </body>
</html>